<h1>Listing yes_or_no_tests</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yes_or_no_tests.each do |yes_or_no_test| %>
  <tr>
    <td><%= link_to 'Show', yes_or_no_test %></td>
    <td><%= link_to 'Edit', edit_yes_or_no_test_path(yes_or_no_test) %></td>
    <td><%= link_to 'Destroy', yes_or_no_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question and answer test', new_yes_or_no_test_path %>
