<%= stylesheet_link_tag 'dashboard' %>
<div id="container">

<h2>Projects</h2>
<div id="test-dashboard">
    <div id="tests-header">
        <span class="test-name">Project</span>
        <span class="test-budget">Balance</span>
        <span class="test-responses">Results</span>
        <span class="test-winner">Winning Choice</span>
        <span class="test-link">Action</span>
    </div>
    <div id="tests">
        <div class="test">
            <div class="test-heads-up">
                <span class="test-name"><a href="#" data-id="1" class="show-test-details">usephoria</a></span>
                <span class="test-budget">$200.00</span>
                <span class="test-responses">21</span>
                <span class="test-winner">Dashboard A</span>
                <span class="test-link"><a href="#">[Share]</a></span>
            </div>
            <div data-id="1" class="test-detail">
                <a href="#">[Clone]</a><a href="#">[View Demographics]</a>
                <h3>Summary<div class="balance">Balance: <span>$200.00</span> <a href="#">[+]</a></div></h3>
                <hr />
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
                <h3>Responses</h3>
                <hr />
                <div class="response">
                    <span class="response-count">5</span><img src="" />New Logo
                </div>
                <div class="response">
                    <span class="response-count">16</span><img src="" /><span>Old Logo</span>
                </div>
                <h3>Comments</h3>
                <hr />
                <div class="comment">
                    I loved it! <span class="comment-rating"><a href="#">[X]</a><a href="#">[,/]</a></span>
                </div>
                <div class="comment">
                    Too much blue in #2 <span class="comment-rating">Already Rated</span>
                </div>
            </div>
        </div>
        <div class="test">
            <div class="test-heads-up">
                <span class="test-name">google</span>
                <span class="test-budget">$20.00</span>
                <span class="test-responses">5</span>
                <span class="test-winner">Short Search</span>
                <span class="test-link"><a href="#">Copy</a></span>
            </div>
            <div class="test-detail"></div>
        </div>
        <div class="test">
            <div class="test-heads-up">
                <span class="test-name">google</span>
                <span class="test-budget">$20.00</span>
                <span class="test-responses">5</span>
                <span class="test-winner">Short Search</span>
                <span class="test-link"><a href="#">Copy</a></span>
            </div>
            <div class="test-detail"></div>
        </div>
    </div>
</div>

</div>