<h1>Got an Idea?</h1>

<h2>Good! We make testing easy. All you need is your idea and a couple of bucks. We do the rest.</h2>

<ul class="how-it-works-steps">
    <li>
        <span class="step-number">Step 1</span> - Pick Your Test Version
        UsePhoria features Idea Validation, A/B Testing, and Single Task Use Case testing. Write a summary, upload your idea and then preview it on the same environment our testers will.
    </li>
    <li>
        <span class="step-number">Step 2</span> - Pick Your Test Size
        UsePhoria offers groups from 5 to 500 users at less than $2 per user. Don’t worry about tracking people down and convincing them to test. We got that.
    </li>
    <li>
        <span class="step-number">Step 3</span> - Receive Feedback
        We’ll send your test to our users and they respond with both measurable results and a meaningful, honest comments.
    </li>
</ul>

<hr />

<h1>Got an Opinion?</h1>

<h2>Good. We want to pay you for it.</h2>

<ul class="how-it-works-steps">
    <li>
        <span class="step-number">Step 1</span> - Sign Up and Pick a Test
        UsePhoria clients post simple tests that as you whether you like something, prefer one of two things, or if  you can perform a simple task. Each Test takes a minute or two.
    </li>
    <li>
        <span class="step-number">Step 2</span> - Take A Test
        After you’ve picked a test, you just answer a two-choice question, like A or B, Thumbs Up or Thumbs Down, or Yes/No. Then a quick comment, just the length of a tweet. That’s it.
    </li>
    <li>
        <span class="step-number">Step 3</span> - Get Paid
        Each test you take earns you at least a dollar. Sometimes more. You can choose to get cash, giftcards or even donate your earnings to a charity.
    </li>
</ul>

<h2 id="how-it-works-footer">- UsePhoria - dead simple user testing -</h2>