<%= stylesheet_link_tag 'testerDashboard' %>

<span>Next Payout: $<span id="money-earned">30.00</span>
<span id="tests-taken-wrapper">Tests Taken: <span id="tests-taken">110</span></span></span>

<h2>Available Tests</h2>

<div id="tests">
    <div class="test">
        <span class="test-payout">$1.00</span>
        <span class="test-title" style="background: url('<%= asset_path 'demo1.png' %>');"></span>

        <span class="test-link">
            <h4>Usephoria</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quo, fugiat nam facilis architecto. </p>
            <button><%= link_to("Take Test", controller: 'static', action: 'test') %></button></span>
    </div>
    <div class="test">
        <span class="test-payout">$1.00</span>
        <span class="test-title" style="background: url('http://ericulous.com/wp-content/uploads/2008/08/freshnews.png');"></span>

        <span class="test-link">
            <h4>Rate my logo</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quo, fugiat nam facilis architecto? </p>
            <button><%= link_to("Take Test", controller: 'static', action: 'test') %></button></span>
    </div>
</div>
<div style="clear: both;"></div>