#tests-header > span { font-weight: bold; }
#test-dashboard span { display: inline-block; }
.test-name { width: 200px; }
.test-budget { width: 100px; }
.test-responses { width: 100px; }
.test-winner { width: 150px; }
.test-link { width: 50px; }

.test:nth-child(odd) { background-color: #fff; }



.balance { float: right; }

#tests-header {
	padding: 10px;
	width:100%;
}

#tests {
	.test {
		padding: 15px;
		width:100%;
		.test-detail { 
			display: none; 
			margin-left: 0px; 
			width: 100%; 
			padding-top:20px;
			h3 {
				padding-top:20px;
				padding-bottom: 0px;
				margin-bottom: 0px;
				clear:both;
			}
			.response {
				float:left;
				width:48%;
				padding-right:2%;
				img {
					max-width: 100px;
					padding-right:10px;
				}
			}
			table.comments td {
				padding:5px 20px;
				&.odd {
					background:transparent;
					padding:0px 20px;
				}
			}
		}
	}
	.odd {
		background:#eee;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
	}
}

.response { font-size: 40px; }
.response-count { font-size: 50px; font-weight: bold; width: 90px; }
.response > img { width: 59px; height: 59px; vertical-align: bottom; margin: 0 5px; }

.comment { font-size: 20px; }
.comment-rating { float: right; }