#tests-taken-wrapper { float: right; }
.test { position: relative; font-size: 35px; width: 245px; height: 245px; float: left; border: thin black solid; margin-right: 5px; }
.test span { width: 100%; display: inline-block; }
.test-title { background-color: red; }
.test-link { position: absolute; bottom: 0px; }