<footer>
    <div class="footer">
        <p class="developers"><b>Developed by:</b><br />Bradley "Master Mind" Robb<br />Jeremy "Ruby God" Weiland<br />Giuseppe "Nice Hair" Mancone<br />Tiffany "I skipped my vacation to the lake for this" France<br />Joshua "Bit Coin" Angeley</p>
        <p class="description">UsePhoria is a start up developed at RVA Startup weekend, 2013.</p>
    </div>
</footer>